<h1>Media</h1>

<LinkTo @query={{hash filter="albums"}} class="album-link">Albums</LinkTo>
<LinkTo @query={{hash filter="movies"}} class="movies-link">Movies</LinkTo>

<ul>
  {{#each this.media as |medium i|}}
    <li>
      <LinkTo @route="media.medium" @model={{i}} class="media-link">
        {{medium.title}}
      </LinkTo>
    </li>
  {{/each}}
</ul>

{{outlet}}