<h1>Media</h1>

<LinkTo @query={{hash filter="albums"}}>Albums</LinkTo>
<LinkTo @query={{hash filter="movies"}}>Movies</LinkTo>

<ul>
  {{#each this.media as |medium i|}}
    <li>
      <LinkTo @route="media.medium" @model={{i}}>
        {{medium.title}}
      </LinkTo>
    </li>
  {{/each}}
</ul>

{{outlet}}