<h2>Data Binding</h2>

<dl>
  <dt>What"s your favorite Whitney Houston song?</dt>
  <dd>{{favoriteWhitneySong}}</dd>
</dl>

<style>
  .no-val { color: red; }
  .val { color: green; }
</style>
<div class={{if favoriteWhitneySong "val" "no-val"}}>
  <label class="form-control-label">Change your choice:</label>
  {{input value=favoriteWhitneySong}}
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Collections</h2>

    <ul>
      {{#each whiteneySongs as |song i|}}
        <li>{{i}}: {{song}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Actions</h2>

    <button type="button" class="btn btn-success" onclick={{action "handleAction"}}>Trigger action</button>
    <button type="button" class="btn btn-warning" {{action "handleLegacyAction"}}>Trigger legacy action</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Form</h2>

    <form onsubmit={{action "submitForm"}}>
      <fieldset class="form-group">
        <input type="text" onblur={{action "textChanged" value="currentTarget.value"}} class="form-control">
        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
  </div>
</div>