<h2>Data Binding</h2>

<dl>
  <dt>What"s your favorite Whitney Houston song?</dt>
  <dd>{{this.favoriteWhitneySong}}</dd>
</dl>

{{!-- template-lint-disable no-forbidden-elements --}}
<style>
  .no-val { color: red; }
  .val { color: green; }
</style>
<div class={{if this.favoriteWhitneySong "val" "no-val"}}>
  <label for="favorite-song-input" class="form-control-label">Change your choice:</label>
  <input id="favorite-song-input" type="text" value={{this.favoriteWhitneySong}} {{on "change" this.updateFavoriteSong}}>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Collections</h2>

    <ul>
      {{#each this.whiteneySongs as |song i|}}
        <li>{{i}}: {{song}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Actions</h2>

    <button type="button" class="btn btn-success" {{on "click" this.handleAction}}>Trigger action</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Form</h2>

    <form {{on "submit" this.submitForm}}>
      <fieldset class="form-group">
        {{!-- template-lint-disable require-input-label --}}
        <Input @value={{this.favoriteWhitneySong}} />
        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
  </div>
</div>