<h1>{{this.songCount}} songs</h1>

<ListView @items={{this.model}} @onRemoveItem={{fn this.deleteSong}} as |list item|>
  <SongTile @song={{item}} {{on 'dblclick' (fn list.selectItem item)}} />
  <list.delete-button>
    Delete
  </list.delete-button>
</ListView>