<h1 class="song-count">{{this.songCount}} songs</h1>

<ListView @items={{this.model}} @onRemoveItem={{this.deleteSong}} as |list item|>
  <SongTile class="song-tile" @song={{item}} {{on 'dblclick' (fn list.selectItem item)}} />
  <list.delete-button class="delete-btn">
    Delete
  </list.delete-button>
</ListView>