<h1>{{songCount}} songs</h1>

<ListView @items={{model}} @onRemoveItem={{action "deleteSong"}} as |list item|>
  <SongTile @song={{item}} @onSelectSong={{list.selectItem}} />
  {{#list.delete-button}}
    Delete
  {{/list.delete-button}}
</ListView>