<div class="row">
  <div class="col-xs-12">
    <h4 data-element-type="album-title" data-album-title={{@album.title}}>
      {{@album.title}}
      {{#if @show-songs}}
        <span data-element-type="album-rating">
          {{rating-indicator rating=(readonly @album.averageRating) classNames="pull-right"}}
        </span>
      {{/if}}
    </h4>
    <hr>
  </div>
</div>

<div class="row">
  <div class={{if @show-songs "col-xs-3" "col-xs-12"}}>
    <img src={{@album.coverUrl}} width="100%" class="img-rounded" alt="{{@album.title}} cover">
  </div>
  {{#if @show-songs}}
    <div class="col-xs-9">
      <ol class="song-list">
        {{#each @album.songs as |song|}}
          <li data-element-type="album-song">
            <SongTile @song={{readonly song}} />
          </li>
        {{/each}}
      </ol>
    </div>
  {{/if}}
</div>
