<form onsubmit={{action (action 'createComment')}}>
  {{#form-fieldset isValid=ratingSelected label='Rating'}}
    <select id="song-rating" onchange={{action (action 'ratingChanged')}} class="c-select form-control {{if ratingSelected 'form-control-success' 'form-control-warning'}}">
      <option disabled selected>- select one -</option>
      {{#each ratingOptions as |option|}}
        <option value="{{option.value}}">{{option.label}}</option>
      {{/each}}
    </select>
  {{/form-fieldset}}

  {{#form-fieldset isValid=textEntered label='Comment'}}
    <textarea id="song-comment" rows="3" onblur={{action (action 'textChanged')}} class="form-control {{if textEntered 'form-control-success' 'form-control-warning'}}"></textarea>
  {{/form-fieldset}}

  <button type="submit" class="btn btn-primary" disabled={{isNotSubmittable}}>Save Comment</button>
  <button class="btn btn-secondary" onclick={{action attrs.on-cancel}}>Cancel</button>
</form>