<nav>
  <ul>
    <li>
      {{link-to "Home" "index"}}
    </li>
    <li>
      {{link-to "Protected" "protected"}}
    </li>
    <li>
      {{#if session.isAuthenticated}}
        <button onclick={{action "invalidateSession"}}>Logout</button>
      {{else}}
        {{link-to "Login" "login"}}
      {{/if}}
    </li>
  </ul>
</nav>

{{outlet}}