<h1>Login</h1>

<form onsubmit={{action "authenticate"}}>
  <label for="identification">Login</label>
  <input type="text" id="identification" placeholder="Enter Login" value={{identification}} onchange={{action (mut identification) value="target.value"}}>

  <label for="password">Password</label>
  <input type="password" id="password" placeholder="Enter Password" value={{password}} onchange={{action (mut password) value="target.value"}}>

  <button type="submit">Login</button>

  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</form>