<h1 class="error-count">{{this.errorCount}} Error(s)</h1>

<ul>
  {{#each this.errors as |error|}}
    <li class="error-item">{{error}}</li>
  {{/each}}
</ul>

<h2>Report Error</h2>

<form {{on "submit" this.reportError}}>
  <fieldset>
    {{!-- template-lint-disable require-input-label --}}
    <Textarea class="textarea" {{on "blur" this.textEntered}} @value={{this.errorText}} />
    <button type="submit" class="submit-btn">Report Error</button>
  </fieldset>
</form>