<h1>{{this.errorCount}} Error(s)</h1>

<ul>
  {{#each this.errors as |error|}}
    <li>{{error}}</li>
  {{/each}}
</ul>

<h2>Report Error</h2>

<form {{on "submit" this.reportError}}>
  <fieldset>
    <Textarea {{on "blur" this.textEntered}} @value={{this.errorText}} />
    <button type="submit">Report Error</button>
  </fieldset>
</form>