<h1 data-test-error-count>{{this.errorCount}} Error(s)</h1>

<ul>
  {{#each this.errors as |error|}}
    <li data-test-error-item>{{error}}</li>
  {{/each}}
</ul>

<h2>Report Error</h2>

<form {{on "submit" this.reportError}}>
  <fieldset>
    <Textarea data-test-textarea {{on "blur" this.textEntered}} @value={{this.errorText}} />
    <button type="submit" data-test-submit-btn>Report Error</button>
  </fieldset>
</form>