<h1>{{errorCount}} Error(s)</h1>

<ul>
  {{#each errors as |error|}}
    <li>{{error}}</li>
  {{/each}}
</ul>

<h2>Report Error</h2>

<form onsubmit={{action "reportError"}}>
  <fieldset>
    <textarea onblur={{action "textEntered" value="currentTarget.value"}}>{{errorText}}</textarea>
    <button type="submit">Report Error</button>
  </fieldset>
</form>