<h1>{{errorCount}} Error(s)</h1>

<ul>
  {{#each errors as |error|}}
    <li>{{error}}</li>
  {{/each}}
</ul>

<h2>Report Error</h2>

<form onsubmit={{action (action 'reportError')}}>
  <fieldset class="form-group">
    <textarea onblur={{action (action 'textEntered' value='currentTarget.value')}} class="form-control">{{errorText}}</textarea>
    <button type="submit" class="btn btn-primary">Report Error</button>
  </fieldset>
</form>